@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Results</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" type="text/css"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")" type="text/css"/>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>

    <body>
      <nav class="navbar navbar-default">
       <div class="container-fluid" style="background-color:lavender;">
    <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
       <a class="navbar-brand" href="#">Big Data Project- Twitter Cluster Research</a>
       </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>


        @content
    </body>
</html>
